@page
@model WebApp2.Pages.HR.ResetEmployeeModel
@{
}

<div class="container py-5">
<h1 class="mb-4">Reset Employee Password</h1>

<div id="successDialog" class="alert alert-success" style="display: none;">
        @(TempData["Employee"]) new password is: @(TempData["NewPassword"])
</div>

    <form method="post">
    <div class="mb-3">
        <label for="department" class="form-label">Employee:</label>
        <select asp-for="SelectedEmployeeID" asp-items="@Model.EmployeeOptions" class="form-control" onchange="submitForm()">
            <option value="">None Selected</option>
        </select>
    </div>
        <button type="submit" class="btn btn-primary">Reset password</button>
</form>

</div>
<div id="qrcodeContainer" class="mb-3" style="display: none;">
    <h4>Please Scan this QR Code to register your Two FA</h4>

    <img id="qrcode" src="~/Image/@TempData["ImageName"]" alt="QR Code" style="width:20%; height:20%" />

</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        var success = '@(TempData["Success"] ?? "false")';

        if (success === "true") {
            // Show the success dialog
            $('#successDialog').show();

            // Wait for 1 second (1000 milliseconds)
            setTimeout(function () {
                // Hide the success dialog
                $('#successDialog').hide(); 
              
            }, 2000);
        }
    });


    $(function () {
        var QRCodesuccess = '@(TempData["QRCode"] ?? "false")';

        if (QRCodesuccess === "true") {

            // Show the success dialog
            $('#qrcodeContainer').show();

            // Wait for 1 second (1000 milliseconds)
            setTimeout(function () {
                // Hide the success dialog
                $('#qrcodeContainer').hide();

                // Reload the page after 1 minute
                location.reload();
            }, 60000);
        }
    });


</script>

<script type="text/javascript">
    function submitForm() {
        $('#form-get').submit();
    }
</script>